/***************** import *****************/

@import '/assets/scss/bootstrap';
@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background: $from; /* Old browsers */
  background: -moz-linear-gradient(45deg, $from 50%, $to 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, $from 50%,$to 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, $from 50%,$to 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}



/***************** global *****************/


/***************** buttons *****************/

.btn {
  cursor: pointer;
  transition:  all ease 250ms;
}
.btn-primary {
  @extend .bg-g-purple;
  @extend .px-4;
  border-radius: 50px;
  box-shadow: 0 5px  10px 0 rgba(#000, .2);
  border: 0;
  &:hover, &:focus, &:active {
    border: 0;
    @extend .bg-g-blue;
  }

}
.btn-white {
  background-color: $white;
  border: 0;
  color: $gray-light;//
  color: rgba(#000, .3);
  @extend .px-4;
  border-radius: 50px;

  &:hover, &:focus, &:active {
    box-shadow: 0 5px  10px 0 rgba(#000, .2);
  }
}

.btn-text {
  background-color: transparent;
  border: 0;
  color: $gray-light;//
  color: rgba(#000, .3);
  @extend .px-4;
  border-radius: 50px;

  &:hover, &:focus, &:active {
    box-shadow: 0 5px  10px 0 rgba(#000, .2);
  }

}
.btn-hover-danger {
  &:hover, &:focus, &:active {
    color: $white;
    box-shadow: 0 5px  10px 0 rgba(#000, .2);
    @extend .bg-g-pink;
    i {
      color: $white !important;
    }
  }
}

.btn-danger {
@extend .bg-g-pink;
border-radius: 50px;
border:0;
box-shadow: 0 5px  10px 0 rgba(#000, .2);

&:hover, &:focus, &:active {
  color: $white;
  @extend .bg-g-red;
  i {
    color: $white !important;
  }
}

}
.btn-hover-warning {
  &:hover, &:focus, &:active {
    color: $white;
    box-shadow: 0 5px  10px 0 rgba(#000, .2);
    @extend .bg-g-orange;
    i {
      color: $white !important;
    }
  }
}

.btn-hover-info {
  &:hover, &:focus, &:active {
    color: $white;
    box-shadow: 0 5px  10px 0 rgba(#000, .2);

    @extend .bg-g-blue;
    i {
      color: $white !important;
    }
  }
}

.btn-primary--alt {
  box-shadow: 0 5px  10px 0 rgba(#000, .2);
  border-radius: 50px;
  background-color: $white;
  @extend .px-4;

    &:hover, &:focus, &:active {
    box-shadow: 0 5px  10px 0 rgba(#000, .2);

      color: $white;
      @extend .bg-g-purple;
      i {
        color: $white !important;
      }
  }
}


.btn-success--alt {
  box-shadow: 0 5px  10px 0 rgba(#000, .2);
  border-radius: 50px;
  background-color: $white;
  @extend .px-4;

    &:hover, &:focus, &:active {
    box-shadow: 0 5px  10px 0 rgba(#000, .2);
    border-color: transparent;
      color: $white;
      @extend .bg-g-green;
      i {
        color: $white !important;
      }
  }
}
/***************** forms *****************/
.form-control {
  @extend .px-4;
  background-color: $gray-lighter;
  border: 0;

  &:focus {
    border: 1px solid $purple;
  }
}
input[type='text'].form-control{
  border-radius: 50px;
}

.has-tooltip {
  position: relative;
  &:hover, &:focus, &:active {
    .tooltip{
      opacity: 1;
      top: -50;
      right: -100%;
    }
  }
}
/***************** nav *****************/

.nav-left {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding-top: 20%;
  @extend .px-0;
  box-shadow: 0 5px  10px 0 rgba(#000, .1);
}



.nav__link {
  color : $gray-light;
  @extend .py-2;
  display: block;

  font-size: 14px;

  &:hover, &:active, &:focus, &.active {
    //@extend .bg-g-red;
    color: $red;
    //color: $white;
    text-decoration: none;
  }
}
/***************** cards *****************/

.card--no-style {
  background-color: transparent;
  border: 0;
  > .card {
    margin-bottom: 0;
  }
}

.dict:nth-child(4n+1)  .card--dictionary{
  @extend .bg-g-blue;
}
.dict:nth-child(4n+2)  .card--dictionary{
  @extend .bg-g-purple;
}
.dict:nth-child(4n+3)  .card--dictionary{
  @extend .bg-g-red;
}
.dict:nth-child(4n+4)  .card--dictionary{
  @extend .bg-g-pink;
}
.card--dictionary {
  min-height: 150px;
  border:0;
  box-shadow: 0 5px  10px 0 rgba(#000, .2);
}
.card--dictionary__footer {
  width: 90%;

  @extend .py-3;
  @extend .px-4;
  @extend .bg-white;
  @extend .mx-auto;
  //@extend .text-right;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 5px  10px 0 rgba(#000, .1);

}

/***************** media queries *****************/

@import '/assets/scss/media-queries';

/***************** helpers *****************/

@import '/assets/scss/helpers';
