<main class="container-fluid">
  <div class="row justify-content-center">
    <nav class="col-1 bg-white">
      <ul class="list-unstyled text-center">
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-book" aria-hidden="true"></i></a>
        </li>
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-home"></i> <span class="sr-only">Home</span>
          </a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active">
            <i class="fa fa-info-circle"></i> <span class="sr-only">about</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="col-11">
      <div class="row justify-content-center">
        <div class="col-lg-8 py-5">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</main>
