<article *ngIf="dict;else nodict" class="container text-center my-4">
  <h2>{{dict.name}}</h2>
  <div><label>id: </label>{{dict._id}}</div>
  <button (click)="goBack()" class="btn btn-primary">Back</button>
</article>

<ng-template #nodict>
  <main class="container text-center my-4">
    <h1>Dictionary not found</h1>
    <p>
      The Dictionary or the page you are looking for is not found!!!
    </p>
    <a routerLink="/" class="nav-link" class="btn btn-primary">Please check our dictionaries list here</a>
  </main>
</ng-template>
