<div class="glowworm-holder" *ngIf="isLoading">
  <div class="glowworm-loader">
    <div class="glowworm-motion">
      <div class="glowworm-container">
        <div class="glowworm-left"></div>
        <div class="glowworm-right"></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isLoading">
  <div *ngIf="dict;else nodict" class=" my-4">
    <article *ngIf="!isEditing">
      <header class="text-center my-4">
        <h1> {{dict.name}}</h1>
        <p class="lead">{{dict.description}}</p>
        <button (click)="goBack()" class="btn btn-primary--alt"><i class="fa fa-home"></i> home</button>
      </header>
      <div class="card card--dictionary">
        <div class="card-block">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Domain</th>
                <th>Range</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let domain of dict.dictSchema">
                <td>{{domain.source}}</td>
                <td>{{domain.target}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="card--dictionary__footer">
        <button class="btn btn-sm btn-white btn-hover-warning" (click)="enableEditing(dict)"><i class="fa fa-pencil text-warning"></i> Edit</button>
        <button class="btn btn-sm btn-white btn-hover-danger" (click)="deleteDict(dict)"><i class="fa fa-trash text-danger"></i> Delete</button>
      </footer>
    </article>
    <section *ngIf="isEditing">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <form #form="ngForm" (ngSubmit)="editDict(dict, false)" (keydown.enter)="$event.preventDefault()">
              <header class="text-center my-4">
                <div class="form-group">
                  <label for="name" class="col-form-label-lg">Dictionary Title: </label>
                  <input class="form-control form-control-lg" type="text" name="name" [(ngModel)]="dict.name" placeholder="Name" required>
                </div>
                <div class="form-group">
                  <label for="description">Dictionary Description: </label>
                  <textarea class="form-control" rows="3" name="description" [(ngModel)]="dict.description" placeholder="Description" required></textarea>
                </div>

                <div class="form-group">
                  <label for="schema" title="Match your dictionary's domains to dictionary's ranges">Choose a schema:<sup class="text-muted"><i class="fa fa-info-circle"></i>  Match dictionary's domains to dictionary's ranges.</sup>
                  </label>
                  <!--formControlName="schemaMatching" name="schemaMatching" [(ngModel)]="dict.schemaMatching"-->
                  <select class="form-control" [(ngModel)]="dict.schemaMatching" name="schemaMatching">
                  <option *ngFor="let schema of schemas"  [value]="schema" [attr.selected]="dict.schemaMatching == schema ? true : null" >{{schema}}</option>
                </select>
                </div>
              </header>
              <div class="card  card--dictionary">
                <div class="card-block">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Domain</th>
                        <th>Range</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let domain of dict.dictSchema; let i = index;" [class.table-warning]="domain.count > 1">
                        <td>
                          <div class="form-group">
                            <input class="form-control" type="text" name="{{domain.source}}" [(ngModel)]="domain.source" [ngModelOptions]="{standalone: true}"
                              required>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <input class="form-control" type="text" name="{{domain.target}}" [(ngModel)]="domain.target" [ngModelOptions]="{standalone: true}"
                              required>
                          </div>
                        </td>
                        <td>
                          <button class="btn btn-sm btn-text btn-hover-danger" (click)="deleteRow($event, i)"><i class="fa fa-trash text-danger"></i> Delete row</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer text-center">
                  <button class="btn btn-sm btn-text btn-hover-info" (click)="addDomainRow($event)"><i class="fa fa-plus text-primary"></i> Add domain and range row</button>
                </div>
              </div>
              <footer class="card--dictionary__footer clearfix">
                <button class="btn btn-sm btn-text btn-hover-danger float-left" (click)="deleteDict(dict)"><i class="fa fa-trash text-danger"></i> Delete Dictionary</button>
                <button class="btn btn-sm  btn-text btn-hover-warning float-left" type="reset" (click)="cancelEditing()"><i class="fa fa-times text-warning"></i> Cancel</button>

                <button class="btn btn-sm btn-primary float-right" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
              </footer>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-toast [message]="toast.message"></app-toast>
  <ng-template #nodict>
    <main class="container text-center my-4">
      <h1>Dictionary not found</h1>
      <p>
        The Dictionary or the page you are looking for is not found!!!
      </p>
      <a routerLink="/" class="nav-link" class="btn btn-primary">Please check our dictionaries list here</a>
    </main>
  </ng-template>
</div>
